openapi: 3.1.0
info:
  version: 2.0.0
  title: Data API
  description: Webflow's Data API v2
  termsOfService: 'https://webflow.com/legal/terms'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
servers:
  - url: 'https://api.webflow.com/v2'
security:
  - OAuth2: []
  - ApiKey: []
tags:
  - name: Meta
  - name: Sites
  - name: Assets
  - name: Forms
  - name: Pages
  - name: Collections
  - name: Items
  - name: Users
  - name: Products & SKUs
  - name: Orders
  - name: Inventory
  - name: Settings
  - name: Webhooks
  - name: Custom Code
  - name: Custom Code - Sites
  - name: Custom Code - Pages
paths:
  /token/authorized_by:
    get:
      x-fern-sdk-group-name: token
      x-fern-sdk-method-name: authorized-by
      security:
        - OAuth2:
            - 'authorized_user:read'
      operationId: authorized_by
      summary: Authorization User Info
      description: 'Information about the Authorized User <br><br> Required Scope | `authorized_user:read`'
      tags:
        - Meta
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                example:
                  id: 545bbecb7bdd6769632504a7
                  email: some@email.com
                  firstName: Some
                  lastName: One
                properties:
                  id:
                    type: string
                    format: objectid
                    description: The unique id of the user
                    example: 545bbecb7bdd6769632504a7
                  email:
                    type: string
                    format: email
                    description: The user's email address
                    example: someone@email.com
                  firstName:
                    type: string
                    description: The user's first name
                    example: Some
                  lastName:
                    type: string
                    description: The user's last name
                    example: One
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '403':
          description: 'Provided access token is valid, but is missing the required scopes.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 403
                  message:
                    type: string
                  publicErrorCode:
                    type: string
                  externalReference:
                    type: string
                    nullable: true
                  details:
                    type: array
                    items:
                      type: string
        4XX:
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        5XX:
          description: We had a problem with our server. Try again later.
  /token/introspect:
    get:
      x-fern-sdk-group-name: token
      x-fern-sdk-method-name: introspect
      operationId: introspect
      summary: Authorization Info
      description: |
        Information about the authorization token </br></br> Access to this endpoint requires a bearer token from a Data Client App.
      tags:
        - Meta
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                example:
                  authorization:
                    id: 55818d58616600637b9a5786
                    createdOn: '2016-10-03T23:12:00.755Z'
                    lastUsed: '2016-10-10T21:41:12.736Z'
                    grantType: authorization_code
                    rateLimit: 60
                    scope: 'assets:read,assets:write'
                    authorizedTo:
                      siteIds:
                        - 62f3b1f7eafac55d0c64ef91
                      workspaceIds:
                        - 52f3b1f7eafac55d0c64ef91
                      userIds:
                        - 545bbecb7bdd6769632504a7
                  application:
                    id: 55131cd036c09f7d07883dfc
                    description: My Amazing App
                    homepage: 'https://webflow.com'
                    displayName: My Amazing App
                properties:
                  authorization:
                    type: object
                    description: The Authorization object
                    properties:
                      id:
                        type: string
                        format: objectid
                        example: 55818d58616600637b9a5786
                        description: The unique id of the Authorization instance
                      createdOn:
                        type: string
                        format: date-time
                        example: '2016-10-03T23:12:00.755Z'
                        description: The date the Authorization was created
                      lastUsed:
                        type: string
                        format: date-time
                        example: '2016-10-10T21:41:12.736Z'
                        description: The date the Authorization was last used
                      grantType:
                        type: string
                        example: authorization_code
                        description: The grant type of the Authorization
                      rateLimit:
                        type: integer
                        format: int32
                        example: 60
                        description: The default rate limit for the Authorization (requests/min)
                      scope:
                        type: string
                        example: 'custom_code:read sites:read'
                        description: Comma separted list of OAuth scopes corresponding to the Authorization
                      authorizedTo:
                        type: object
                        example:
                          siteIds:
                            - 62f3b1f7eafac55d0c64ef91
                          workspaceIds:
                            - ' 72f3b1f7eafac55d0c64ef91'
                          userIds:
                            - 545bbecb7bdd6769632504a7
                        properties:
                          siteIds:
                            type: array
                            description: Array of Sites this app is authorized to
                            example:
                              - 62f3b1f7eafac55d0c64ef91
                          workspaceIds:
                            type: array
                            description: Array of Workspaces this app is authorized to
                            example:
                              - 72f3b1f7eafac55d0c64ef91
                          userIds:
                            type: array
                            description: Array of Users this app is authorized to
                            example:
                              - 545bbecb7bdd6769632504a7
                  application:
                    Application:
                      properties:
                        id:
                          type: string
                          format: objectid
                          example: 55131cd036c09f7d07883dfc
                          description: Unique identifier for the Application
                        description:
                          type: string
                          example: OAuth Testing Application
                          description: Application description provided by the developer
                        homepage:
                          type: string
                          format: uri
                          example: 'https://webflow.com'
                          description: Application homepage URL provided by the developer
                        displayName:
                          type: string
                          example: Test App
                          description: Application name provided by the developer
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        4XX:
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        5XX:
          description: We had a problem with our server. Try again later.
  /sites:
    get:
      x-fern-sdk-group-name: sites
      x-fern-sdk-method-name: list
      security:
        - OAuth2:
            - 'sites:read'
      operationId: list-sites
      summary: List Sites
      description: 'List of all sites the provided access token is able to access. </br></br> Required scope | `sites:read`'
      tags:
        - Sites
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                example:
                  id: 42e98c9a982ac9b8b742
                  workspaceId: 42e63e98c9a982ac9b8b742
                  createdOn: '1979-10-12T12:00:00.000Z'
                  displayName: The Hitchhiker's Guide to the Galaxy
                  shortName: hitchhikers-guide
                  lastPublished: '2023-04-02T12:42:00.000Z'
                  lastUpdated: '2023-04-02T12:42:00.000Z'
                  previewUrl: 'https://d1otoma47x30pg.cloudfront.net/42e63e98c9a982ac9b8b742/197910121200.png'
                  timeZone: Magrathea/FactoryFloor
                  customDomains:
                    - domain: hitchhikersguide.galaxy
                      type: primary
                    - id: 589a331aa51e760df7ccb89d
                      url: test-api-domain.com
                  locales:
                    primary:
                      id: 42e98c9a982ac9b8b234
                      cmsLocaleId: 42e63e98676582ac9b8b742
                      enabled: true
                      displayName: Earth (Mostly Harmless)
                      redirect: false
                      subdirectory: earth
                      tag: earth
                    secondary:
                      - id: 42e98c9a982ac9b8b745
                        cmsLocaleId: 42e63e9433982ac9b8b743
                        enabled: true
                        displayName: Magrathea
                        redirect: false
                        subdirectory: magrathea
                        tag: mag
                      - id: 42e98c9a982ac9b8b765
                        cmsLocaleId: 42e63e98c55582ac9b8b744
                        enabled: true
                        displayName: Vogsphere (Vogon Homeworld)
                        redirect: false
                        subdirectory: vogsphere
                        tag: vog
                required:
                  - id
                properties:
                  id:
                    type: string
                    format: objectid
                    description: Unique identifier for the Site
                    example: 580e63e98c9a982ac9b8b741
                  workspaceId:
                    type: string
                    format: objectid
                    description: Unique identifier for the Workspace
                    example: 580e63e98c9a982ac9b8b741
                  createdOn:
                    type: string
                    format: date-time
                    description: Date the Site was created
                    example: '2016-10-24T19:41:29.156Z'
                  displayName:
                    type: string
                    description: Name given to Site
                    example: api_docs_sample_json
                  shortName:
                    type: string
                    description: Slugified version of name
                    example: api-docs-sample-json
                  lastPublished:
                    type: string
                    format: date-time
                    description: Date the Site was last published
                    example: '2016-10-24T19:43:17.271Z'
                  lastUpdated:
                    type: string
                    format: date-time
                    description: Date the Site was last updated
                    example: '2016-10-24T19:43:17.271Z'
                  previewUrl:
                    type: string
                    format: uri
                    description: URL of a generated image for the given Site
                    example: 'https://d1otoma47x30pg.cloudfront.net/580e63e98c9a982ac9b8b741/201610241243.png'
                  timeZone:
                    type: string
                    description: Site timezone set under Site Settings
                    example: America/Los_Angeles
                  customDomains:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: string
                          format: objectid
                          example: 589a331aa51e760df7ccb89d
                          description: Unique identifier for the Domain
                          readOnly: true
                        url:
                          type: string
                          example: test-api-domain.com
                          description: The registered Domain name
                      example:
                        id: 589a331aa51e760df7ccb89d
                        url: test-api-domain.com
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/sites/{site_id}':
    get:
      x-fern-sdk-group-name: sites
      x-fern-sdk-method-name: get
      security:
        - OAuth2:
            - 'sites:read'
      operationId: get-site
      summary: Get Site
      description: 'Get a site by site id </br></br>  Required scope | `sites:read`'
      tags:
        - Sites
      parameters:
        - name: site_id
          in: path
          description: Unique identifier for a Site
          example: 580e63e98c9a982ac9b8b741
          required: true
          schema:
            type: string
            format: objectid
            default: null
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                example:
                  id: 42e98c9a982ac9b8b742
                  workspaceId: 42e63e98c9a982ac9b8b742
                  createdOn: '1979-10-12T12:00:00.000Z'
                  displayName: The Hitchhiker's Guide to the Galaxy
                  shortName: hitchhikers-guide
                  lastPublished: '2023-04-02T12:42:00.000Z'
                  lastUpdated: '2023-04-02T12:42:00.000Z'
                  previewUrl: 'https://d1otoma47x30pg.cloudfront.net/42e63e98c9a982ac9b8b742/197910121200.png'
                  timeZone: Magrathea/FactoryFloor
                  customDomains:
                    - domain: hitchhikersguide.galaxy
                      type: primary
                    - id: 589a331aa51e760df7ccb89d
                      url: test-api-domain.com
                  locales:
                    primary:
                      id: 42e98c9a982ac9b8b234
                      cmsLocaleId: 42e63e98676582ac9b8b742
                      enabled: true
                      displayName: Earth (Mostly Harmless)
                      redirect: false
                      subdirectory: earth
                      tag: earth
                    secondary:
                      - id: 42e98c9a982ac9b8b745
                        cmsLocaleId: 42e63e9433982ac9b8b743
                        enabled: true
                        displayName: Magrathea
                        redirect: false
                        subdirectory: magrathea
                        tag: mag
                      - id: 42e98c9a982ac9b8b765
                        cmsLocaleId: 42e63e98c55582ac9b8b744
                        enabled: true
                        displayName: Vogsphere (Vogon Homeworld)
                        redirect: false
                        subdirectory: vogsphere
                        tag: vog
                required:
                  - id
                properties:
                  id:
                    type: string
                    format: objectid
                    description: Unique identifier for the Site
                    example: 580e63e98c9a982ac9b8b741
                  workspaceId:
                    type: string
                    format: objectid
                    description: Unique identifier for the Workspace
                    example: 580e63e98c9a982ac9b8b741
                  createdOn:
                    type: string
                    format: date-time
                    description: Date the Site was created
                    example: '2016-10-24T19:41:29.156Z'
                  displayName:
                    type: string
                    description: Name given to Site
                    example: api_docs_sample_json
                  shortName:
                    type: string
                    description: Slugified version of name
                    example: api-docs-sample-json
                  lastPublished:
                    type: string
                    format: date-time
                    description: Date the Site was last published
                    example: '2016-10-24T19:43:17.271Z'
                  lastUpdated:
                    type: string
                    format: date-time
                    description: Date the Site was last updated
                    example: '2016-10-24T19:43:17.271Z'
                  previewUrl:
                    type: string
                    format: uri
                    description: URL of a generated image for the given Site
                    example: 'https://d1otoma47x30pg.cloudfront.net/580e63e98c9a982ac9b8b741/201610241243.png'
                  timeZone:
                    type: string
                    description: Site timezone set under Site Settings
                    example: America/Los_Angeles
                  customDomains:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: string
                          format: objectid
                          example: 589a331aa51e760df7ccb89d
                          description: Unique identifier for the Domain
                          readOnly: true
                        url:
                          type: string
                          example: test-api-domain.com
                          description: The registered Domain name
                      example:
                        id: 589a331aa51e760df7ccb89d
                        url: test-api-domain.com
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/sites/{site_id}/custom_domains':
    get:
      x-fern-sdk-group-name: sites
      x-fern-sdk-method-name: get-custom-domain
      security:
        - OAuth2:
            - 'sites:read'
      operationId: get-custom-domains
      summary: Get Custom Domains
      description: 'Get a list of all custom domains related to site. </br></br>  Required scope | `sites:read`'
      tags:
        - Sites
      parameters:
        - name: site_id
          in: path
          description: Unique identifier for a Site
          example: 580e63e98c9a982ac9b8b741
          required: true
          schema:
            type: string
            format: objectid
            default: null
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  customDomains:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: string
                          format: objectid
                          example: 589a331aa51e760df7ccb89d
                          description: Unique identifier for the Domain
                          readOnly: true
                        url:
                          type: string
                          example: test-api-domain.com
                          description: The registered Domain name
                      example:
                        id: 589a331aa51e760df7ccb89d
                        url: test-api-domain.com
                example:
                  customDomains:
                    - id: 589a331aa51e760df7ccb89d
                      url: test-api-domain.com
                    - id: 589a331aa51e760df7ccb89e
                      url: www.test-api-domain.com
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '403':
          description: Provided access token does not have access rights to this content.
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/sites/{site_id}/publish':
    post:
      x-fern-sdk-group-name: sites
      x-fern-sdk-method-name: publish
      security:
        - OAuth2:
            - 'sites:write'
      operationId: site-publish
      summary: Publish site
      description: 'Publish a site to one more more domains. </br></br>  Required scope | `sites:write`'
      tags:
        - Sites
      parameters:
        - name: site_id
          in: path
          description: Unique identifier for a Site
          example: 580e63e98c9a982ac9b8b741
          required: true
          schema:
            type: string
            format: objectid
            default: null
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customDomains:
                  description: Array of Custom Domain ids to publish
                  type: array
                  items:
                    description: The id of the Custom Domain
                    type: string
                  example:
                    - 589a331aa51e760df7ccb89d
                publishToWebflowSubdomain:
                  description: Choice of whether to publish to the default Webflow Subdomain
                  type: boolean
                  default: false
                  example: false
      responses:
        '202':
          description: Request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  customDomains:
                    description: Array of domains objects
                    type: array
                    items:
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: string
                          format: objectid
                          example: 589a331aa51e760df7ccb89d
                          description: Unique identifier for the Domain
                          readOnly: true
                        url:
                          type: string
                          example: test-api-domain.com
                          description: The registered Domain name
                      example:
                        id: 589a331aa51e760df7ccb89d
                        url: test-api-domain.com
                  publishToWebflowSubdomain:
                    description: Flag for publishing to webflow.io subdomain
                    type: boolean
                    default: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - description: Requested an invalid Domain. Please send a valid custom domain URI
                    schema:
                      example:
                        code: not_authorized
                        message: Request not authorized
                        externalReference: null
                        details: []
                      properties:
                        code:
                          type: string
                          description: Error code
                          example: not_authorized
                        message:
                          type: string
                          description: Error message
                          example: Request not authorized
                        externalReference:
                          type: string
                          description: Link to more information
                        details:
                          type: array
                          description: Array of errors
                          items:
                            type:
                              - string
                              - object
                  - description: You must pass at least one domain id to the publish endpoint
                    schema:
                      example:
                        code: not_authorized
                        message: Request not authorized
                        externalReference: null
                        details: []
                      properties:
                        code:
                          type: string
                          description: Error code
                          example: not_authorized
                        message:
                          type: string
                          description: Error message
                          example: Request not authorized
                        externalReference:
                          type: string
                          description: Link to more information
                        details:
                          type: array
                          description: Array of errors
                          items:
                            type:
                              - string
                              - object
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '403':
          description: Provided access token does not have access rights to this content.
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
  '/sites/{site_id}/activity_logs':
    get:
      x-fern-sdk-group-name:
        - sites
        - activity-logs
      x-fern-sdk-method-name: list
      summary: Get Site Activity Logs
      operationId: get-site-activity-logs
      description: 'Retrieve Activity Logs for a specific Site. Requires Site to be on an Enterprise plan. </br></br>  Required scope | `site_activity:read`'
      tags:
        - Site Activity
        - Sites
      security:
        - OAuth2:
            - 'site_activity:read'
      parameters:
        - name: site_id
          in: path
          description: Unique identifier for a Site
          example: 580e63e98c9a982ac9b8b741
          required: true
          schema:
            type: string
            format: objectid
            default: null
        - in: query
          allowEmptyValue: true
          name: limit
          example: 100
          description: 'Maximum number of records to be returned (max limit: 100)'
          required: false
          schema:
            type: number
        - in: query
          example: 0
          allowEmptyValue: true
          name: offset
          description: Offset used for pagination if the results have more than limit records
          required: false
          schema:
            type: number
      responses:
        '200':
          description: A list of site activity logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        createdOn:
                          type: string
                          format: date-time
                        lastUpdated:
                          type: string
                          format: date-time
                        event:
                          type: string
                        resourceOperation:
                          type: string
                          enum:
                            - CREATED
                            - MODIFIED
                            - PUBLISHED
                            - UNPUBLISHED
                            - DELETED
                        user:
                          type: object
                          nullable: true
                          properties:
                            id:
                              type: string
                            displayName:
                              type: string
                        resourceId:
                          type: string
                          nullable: true
                        resourceName:
                          type: string
                          nullable: true
                        newValue:
                          type: string
                          nullable: true
                        previousValue:
                          type: string
                          nullable: true
                        payload:
                          type: object
                          nullable: true
                  pagination:
                    description: Pagination object
                    type: object
                    properties:
                      limit:
                        type: number
                        description: The limit used for pagination
                        example: 100
                      offset:
                        type: number
                        description: The offset used for pagination
                        example: 0
                      total:
                        type: number
                        description: The total number of records
                        example: 100
                example:
                  items:
                    id: 654c16c7b229e56bcf26872d
                    createdOn: 2023-11-08T23:16:23.496Z
                    lastUpdated: 2023-11-08T23:16:23.496Z
                    event: cms_collection
                    user:
                      id: 6509cd56e90eec668b009712
                      displayName: John Doe
                    resourceOperation: CREATED
                    resourceId: 654c16c7b229e56bcf26870c
                    resourceName: foo-bar
                    newValue: null
                    previousValue: null
                    payload: null
                  pagination:
                    total: 1
                    offset: 0
                    limit: 25
        '403':
          description: Unauthorized request
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - example:
                          code: not_authorized
                          message: Request not authorized
                          externalReference: null
                          details: []
                        properties:
                          code:
                            type: string
                            description: Error code
                            example: not_authorized
                          message:
                            type: string
                            description: Error message
                            example: Request not authorized
                          externalReference:
                            type: string
                            description: Link to more information
                          details:
                            type: array
                            description: Array of errors
                            items:
                              type:
                                - string
                                - object
                      - description: The request is missing the required scopes.
                      - properties:
                          code:
                            type: string
                            description: Error code
                            enum:
                              - missing_scopes
                          type: string
                  - allOf:
                      - example:
                          code: not_authorized
                          message: Request not authorized
                          externalReference: null
                          details: []
                        properties:
                          code:
                            type: string
                            description: Error code
                            example: not_authorized
                          message:
                            type: string
                            description: Error message
                            example: Request not authorized
                          externalReference:
                            type: string
                            description: Link to more information
                          details:
                            type: array
                            description: Array of errors
                            items:
                              type:
                                - string
                                - object
                      - description: Error response for non-enterprise plan sites.
                      - properties:
                          code:
                            type: string
                            description: Error code
                            enum:
                              - missing_scopes
                          type: string
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/sites/{site_id}/collections':
    get:
      x-fern-sdk-group-name: collections
      x-fern-sdk-method-name: list
      security:
        - OAuth2:
            - 'cms:read'
      operationId: list-collections
      summary: List Collections
      description: 'List of all Collections within a Site. </br></br> Required scope | `cms:read`'
      tags:
        - Collections
        - Sites
      parameters:
        - name: site_id
          in: path
          description: Unique identifier for a Site
          example: 580e63e98c9a982ac9b8b741
          required: true
          schema:
            type: string
            format: objectid
            default: null
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                example:
                  collections:
                    - id: 63692ab61fb2852f582ba8f5
                      displayName: Products
                      singularName: Product
                      slug: product
                      createdOn: '2019-06-12T13:35:14.238Z'
                      lastUpdated: '2022-11-17T15:08:50.480Z'
                    - id: 63692ab61fb2856e6a2ba8f6
                      displayName: Categories
                      singularName: Category
                      slug: category
                      createdOn: '2019-06-12T13:35:14.238Z'
                      lastUpdated: '2022-11-17T15:08:50.481Z'
                    - id: 63692ab61fb285a8562ba8f4
                      displayName: SKUs
                      singularName: SKU
                      slug: sku
                      createdOn: '2019-06-12T13:35:14.238Z'
                      lastUpdated: '2022-11-17T15:08:50.478Z'
                properties:
                  collections:
                    description: An array of Collections
                    type: array
                    items:
                      example:
                        id: 580e63fc8c9a982ac9b8b745
                        displayName: Blog Posts
                        singularName: Blog Post
                        slug: post
                        createdOn: '2016-10-24T19:41:48.349Z'
                        lastUpdated: '2016-10-24T19:42:38.929Z'
                        fields:
                          - id: 23cc2d952d4e4631ffd4345d2743db4e
                            isEditable: true
                            isRequired: true
                            type: PlainText
                            slug: name
                            displayName: Name
                            helpText: null
                      description: A collection object
                      type: object
                      required:
                        - id
                        - fields
                      properties:
                        id:
                          type: string
                          format: objectid
                          description: Unique identifier for a Collection
                          example: 562ac0395358780a1f5e6fbd
                          readOnly: true
                        displayName:
                          type: string
                          example: Blog Posts
                          description: Name given to the Collection
                        singularName:
                          type: string
                          example: Blog Post
                          description: The name of one Item in Collection (e.g. ”Blog Post” if the Collection is called “Blog Posts”)
                        slug:
                          type: string
                          example: blog-posts
                          description: Slug of Collection in Site URL structure
                        createdOn:
                          type: string
                          format: date-time
                          example: '2022-12-07T16:51:37.571Z'
                          readOnly: true
                          description: The date the collection was created
                        lastUpdated:
                          type: string
                          format: date-time
                          example: '2022-12-07T16:51:37.571Z'
                          readOnly: true
                          description: The date the collection was last updated
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
    post:
      x-fern-sdk-group-name: collections
      x-fern-sdk-method-name: create
      security:
        - OAuth2:
            - 'cms:write'
      operationId: create-collection
      summary: Create Collection
      description: 'Create a Collection for a site. </br></br> Required scope | `cms:write`'
      tags:
        - Collections
        - Sites
      parameters:
        - name: site_id
          in: path
          description: Unique identifier for a Site
          example: 580e63e98c9a982ac9b8b741
          required: true
          schema:
            type: string
            format: objectid
            default: null
      requestBody:
        description: 'Pass the Name of the collection, as well as the singular name of each item in the collection.'
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - displayName
                - singularName
              properties:
                displayName:
                  type: string
                  description: Name of the collection. Each collection name must be distinct.
                singularName:
                  type: string
                  description: Singular name of each item.
                slug:
                  type: string
                  description: Part of a URL that identifier
            example:
              displayName: Blog Posts
              singularName: Blog Post
              slug: posts
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                example:
                  id: 580e63fc8c9a982ac9b8b745
                  displayName: Blog Posts
                  singularName: Blog Post
                  slug: post
                  createdOn: '2016-10-24T19:41:48.349Z'
                  lastUpdated: '2016-10-24T19:42:38.929Z'
                  fields:
                    - id: 23cc2d952d4e4631ffd4345d2743db4e
                      isEditable: true
                      isRequired: true
                      type: PlainText
                      slug: name
                      displayName: Name
                      helpText: null
                description: A collection object
                type: object
                required:
                  - id
                  - fields
                properties:
                  id:
                    type: string
                    format: objectid
                    description: Unique identifier for a Collection
                    example: 562ac0395358780a1f5e6fbd
                    readOnly: true
                  displayName:
                    type: string
                    example: Blog Posts
                    description: Name given to the Collection
                  singularName:
                    type: string
                    example: Blog Post
                    description: The name of one Item in Collection (e.g. ”Blog Post” if the Collection is called “Blog Posts”)
                  slug:
                    type: string
                    example: blog-posts
                    description: Slug of Collection in Site URL structure
                  createdOn:
                    type: string
                    format: date-time
                    example: '2022-12-07T16:51:37.571Z'
                    readOnly: true
                    description: The date the collection was created
                  lastUpdated:
                    type: string
                    format: date-time
                    example: '2022-12-07T16:51:37.571Z'
                    readOnly: true
                    description: The date the collection was last updated
                  fields:
                    type: object
                    description: The list of fields in the Collection
                    readOnly: true
                    items:
                      description: The details of a field in a collection
                      example:
                        id: 75821f618da60c18383330bcc0ca488b
                        isEditable: true
                        isRequired: false
                        type: RichText
                        slug: post-body
                        displayName: Post Body
                        helpText: Add the body of your post here
                      type: object
                      required:
                        - id
                        - type
                        - isRequired
                        - displayName
                      properties:
                        id:
                          type: string
                          format: objectid
                          description: Unique identifier for a Field
                          readOnly: true
                        isRequired:
                          type: boolean
                          description: define whether a field is required in a collection
                        isEditable:
                          type: boolean
                          description: Define whether the field is editable
                          readOnly: true
                        type:
                          type: string
                          enum:
                            - PlainText
                            - RichText
                            - Image
                            - MultiImage
                            - Video
                            - Link
                            - Email
                            - Phone
                            - Number
                            - DateTime
                            - Boolean
                            - Color
                            - ExtFileRef
                          description: Choose these appropriate field type for your collection data
                        slug:
                          type: string
                          description: Slug of Field in Site URL structure. Slugs should be all lowercase with no spaces. Any spaces will be converted to "-."
                        displayName:
                          type: string
                          description: The name of a field
                        helpText:
                          type: string
                          description: Additional text to help anyone filling out this field
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/collections/{collection_id}':
    get:
      x-fern-sdk-group-name: collections
      x-fern-sdk-method-name: get
      security:
        - OAuth2:
            - 'cms:read'
      operationId: collection-details
      summary: Get Collection Details
      description: 'Get the full details of a collection from its ID. </br></br> Required scope | `cms:read`'
      tags:
        - Collections
        - Sites
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                example:
                  id: 580e63fc8c9a982ac9b8b745
                  displayName: Blog Posts
                  singularName: Blog Post
                  slug: post
                  createdOn: '2016-10-24T19:41:48.349Z'
                  lastUpdated: '2016-10-24T19:42:38.929Z'
                  fields:
                    - id: 23cc2d952d4e4631ffd4345d2743db4e
                      isEditable: true
                      isRequired: true
                      type: PlainText
                      slug: name
                      displayName: Name
                      helpText: null
                description: A collection object
                type: object
                required:
                  - id
                  - fields
                properties:
                  id:
                    type: string
                    format: objectid
                    description: Unique identifier for a Collection
                    example: 562ac0395358780a1f5e6fbd
                    readOnly: true
                  displayName:
                    type: string
                    example: Blog Posts
                    description: Name given to the Collection
                  singularName:
                    type: string
                    example: Blog Post
                    description: The name of one Item in Collection (e.g. ”Blog Post” if the Collection is called “Blog Posts”)
                  slug:
                    type: string
                    example: blog-posts
                    description: Slug of Collection in Site URL structure
                  createdOn:
                    type: string
                    format: date-time
                    example: '2022-12-07T16:51:37.571Z'
                    readOnly: true
                    description: The date the collection was created
                  lastUpdated:
                    type: string
                    format: date-time
                    example: '2022-12-07T16:51:37.571Z'
                    readOnly: true
                    description: The date the collection was last updated
                  fields:
                    type: object
                    description: The list of fields in the Collection
                    readOnly: true
                    items:
                      description: The details of a field in a collection
                      example:
                        id: 75821f618da60c18383330bcc0ca488b
                        isEditable: true
                        isRequired: false
                        type: RichText
                        slug: post-body
                        displayName: Post Body
                        helpText: Add the body of your post here
                      type: object
                      required:
                        - id
                        - type
                        - isRequired
                        - displayName
                      properties:
                        id:
                          type: string
                          format: objectid
                          description: Unique identifier for a Field
                          readOnly: true
                        isRequired:
                          type: boolean
                          description: define whether a field is required in a collection
                        isEditable:
                          type: boolean
                          description: Define whether the field is editable
                          readOnly: true
                        type:
                          type: string
                          enum:
                            - PlainText
                            - RichText
                            - Image
                            - MultiImage
                            - Video
                            - Link
                            - Email
                            - Phone
                            - Number
                            - DateTime
                            - Boolean
                            - Color
                            - ExtFileRef
                          description: Choose these appropriate field type for your collection data
                        slug:
                          type: string
                          description: Slug of Field in Site URL structure. Slugs should be all lowercase with no spaces. Any spaces will be converted to "-."
                        displayName:
                          type: string
                          description: The name of a field
                        helpText:
                          type: string
                          description: Additional text to help anyone filling out this field
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
    delete:
      security:
        - OAuth2:
            - 'cms:write'
      operationId: delete-collection
      summary: Delete Collection
      description: 'Delete a collection using its ID. </br></br> Required scope | `cms:write`'
      tags:
        - Collections
        - Sites
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
      responses:
        '204':
          description: Request was successful. No Content is returned.
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/collections/{collection_id}/fields':
    post:
      x-fern-sdk-group-name:
        - collections
        - fields
      x-fern-sdk-method-name: create
      security:
        - OAuth2:
            - 'cms:write'
      operationId: create-field
      summary: Create Collection Field
      description: |
        Create a custom field in a collection.  </br></br> Slugs must be all lowercase letters without spaces. If you pass a string with uppercase letters and/or spaces to the "Slug" property, Webflow will convert the slug to lowercase and replace spaces with "-." </br></br> Only some field types can be created through the API.  This endpoint does not currently support bulk creation.  </br></br>  Required scope | `cms:write`
      tags:
        - Collections
        - Sites
      requestBody:
        description: The field to create
        required: true
        content:
          application/json:
            schema:
              description: Details about the field of a collection
              example:
                type: RichText
                isRequired: false
                displayName: Post Body
                helpText: Add the body of your post here
              type: object
              required:
                - type
                - displayName
              properties:
                isRequired:
                  type: boolean
                  description: define whether a field is required in a collection
                type:
                  type: string
                  enum:
                    - PlainText
                    - RichText
                    - Image
                    - MultiImage
                    - Video
                    - Link
                    - Email
                    - Phone
                    - Number
                    - DateTime
                    - Boolean
                    - Color
                    - File
                  description: Choose these appropriate field type for your collection data
                displayName:
                  type: string
                  description: The name of a field
                helpText:
                  type: string
                  description: Additional text to help anyone filling out this field
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                description: The details of a field in a collection
                example:
                  id: 75821f618da60c18383330bcc0ca488b
                  isEditable: true
                  isRequired: false
                  type: RichText
                  slug: post-body
                  displayName: Post Body
                  helpText: Add the body of your post here
                type: object
                required:
                  - id
                  - type
                  - isRequired
                  - displayName
                properties:
                  id:
                    type: string
                    format: objectid
                    description: Unique identifier for a Field
                    readOnly: true
                  isRequired:
                    type: boolean
                    description: define whether a field is required in a collection
                  isEditable:
                    type: boolean
                    description: Define whether the field is editable
                    readOnly: true
                  type:
                    type: string
                    enum:
                      - PlainText
                      - RichText
                      - Image
                      - MultiImage
                      - Video
                      - Link
                      - Email
                      - Phone
                      - Number
                      - DateTime
                      - Boolean
                      - Color
                      - ExtFileRef
                    description: Choose these appropriate field type for your collection data
                  slug:
                    type: string
                    description: Slug of Field in Site URL structure. Slugs should be all lowercase with no spaces. Any spaces will be converted to "-."
                  displayName:
                    type: string
                    description: The name of a field
                  helpText:
                    type: string
                    description: Additional text to help anyone filling out this field
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/collections/{collection_id}/fields/{field_id}':
    patch:
      x-fern-sdk-group-name:
        - collections
        - fields
      x-fern-sdk-method-name: update
      security:
        - OAuth2:
            - 'cms:write'
      operationId: update-field
      summary: Update Collection Field
      description: 'Update a custom field in a collection.  </br></br> Required scope | `cms:write`'
      tags:
        - Collections
        - Sites
      requestBody:
        description: The field details to update
        content:
          application/json:
            schema:
              description: Details about the field of a collection
              example:
                isRequired: false
                displayName: Post Body
                helpText: Add the body of your post here
              type: object
              properties:
                isRequired:
                  type: boolean
                  description: Define whether a field is required in a collection
                displayName:
                  type: string
                  description: The name of a field
                helpText:
                  type: string
                  description: Additional text to help anyone filling out this field
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
        - name: field_id
          in: path
          description: Unique identifier for a Field in a collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                description: The details of a field in a collection
                example:
                  id: 75821f618da60c18383330bcc0ca488b
                  isEditable: true
                  isRequired: false
                  type: RichText
                  slug: post-body
                  displayName: Post Body
                  helpText: Add the body of your post here
                type: object
                required:
                  - id
                  - type
                  - isRequired
                  - displayName
                properties:
                  id:
                    type: string
                    format: objectid
                    description: Unique identifier for a Field
                    readOnly: true
                  isRequired:
                    type: boolean
                    description: define whether a field is required in a collection
                  isEditable:
                    type: boolean
                    description: Define whether the field is editable
                    readOnly: true
                  type:
                    type: string
                    enum:
                      - PlainText
                      - RichText
                      - Image
                      - MultiImage
                      - Video
                      - Link
                      - Email
                      - Phone
                      - Number
                      - DateTime
                      - Boolean
                      - Color
                      - ExtFileRef
                    description: Choose these appropriate field type for your collection data
                  slug:
                    type: string
                    description: Slug of Field in Site URL structure. Slugs should be all lowercase with no spaces. Any spaces will be converted to "-."
                  displayName:
                    type: string
                    description: The name of a field
                  helpText:
                    type: string
                    description: Additional text to help anyone filling out this field
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
    delete:
      x-fern-sdk-group-name: collections
      x-fern-sdk-method-name: delete
      security:
        - OAuth2:
            - 'cms:write'
      operationId: delete-field
      summary: Delete Collection Field
      description: 'Delete a custom field in a collection. This endpoint does not currently support bulk deletion. </br></br> Required scope | `cms:write`'
      tags:
        - Collections
        - Sites
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
        - name: field_id
          in: path
          description: Unique identifier for a Field in a collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
      responses:
        '204':
          description: Request was successful. No Content is returned.
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/collections/{collection_id}/items':
    get:
      x-fern-sdk-group-name:
        - collections
        - items
      x-fern-sdk-method-name: list-items
      security:
        - OAuth2:
            - 'CMS:read'
      operationId: list-collection-items
      summary: List Collection Items
      description: 'List of all Items within a Collection. </br></br> Required scope | `CMS:read`'
      tags:
        - Items
        - Collections
        - Sites
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
        - name: cmsLocaleIds
          in: query
          allowEmptyValue: true
          description: Unique identifiers for CMS Locales. These UIDs are different from the Site locale identifier and are listed as `cmsLocaleId` in the Sites response. Applicable when using localization.
          schema:
            type: array
            items:
              type: string
        - in: query
          example: 0
          allowEmptyValue: true
          name: offset
          description: Offset used for pagination if the results have more than limit records
          required: false
          schema:
            type: number
        - in: query
          allowEmptyValue: true
          name: limit
          example: 100
          description: 'Maximum number of records to be returned (max limit: 100)'
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                description: Results from collection items list
                example:
                  items:
                    - id: 62b720ef280c7a7a3be8cabe
                      lastPublished: '2022-06-30T13:35:20.878Z'
                      lastUpdated: '2022-06-25T14:51:27.809Z'
                      createdOn: '2022-06-25T14:51:27.809Z'
                      isArchived: false
                      isDraft: false
                      fieldData:
                        url: 'https://boards.greenhouse.io/webflow/jobs/26567701'
                        name: Senior Data Analyst
                        department: Data
                        slug: senior-data-analyst
                  pagination:
                    limit: 25
                    offset: 0
                    total: 2
                properties:
                  items:
                    type: array
                    description: List of Items within the collection
                    items:
                      description: |
                        The fields that define the schema for a given Item are based on the Collection that Item belongs to. Beyond the user defined fields, there are a handful of additional fields that are automatically created for all items
                      required:
                        - id
                      properties:
                        id:
                          type: string
                          readOnly: true
                          example: 580e64008c9a982ac9b8b754
                          description: Unique identifier for the Item
                        cmsLocaleId:
                          type: string
                          example: 653ad57de882f528b32e810e
                          description: Identifier for the locale of the CMS item
                        lastPublished:
                          type: string
                          format: date-string
                          readOnly: true
                          example: 2023-03-17T18:47:35.560Z
                          description: The date the item was last published
                        lastUpdated:
                          type: string
                          format: date-string
                          readOnly: true
                          example: 2023-03-17T18:47:35.560Z
                          description: The date the item was last updated
                        createdOn:
                          type: string
                          format: date-string
                          readOnly: true
                          example: 2023-03-17T18:47:35.560Z
                          description: The date the item was created
                        isArchived:
                          type: boolean
                          default: false
                          description: Boolean determining if the Item is set to archived
                        isDraft:
                          type: boolean
                          default: false
                          description: Boolean determining if the Item is set to draft
                        fieldData:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the Item
                            slug:
                              type: string
                              description: 'URL structure of the Item in your site. Note: Updates to an item slug will break all links referencing the old slug.'
                          additionalProperties: true
                          example:
                            date: 2022-11-18T00:00:00.000Z
                            featured: false
                            name: My new item
                            slug: my-new-item
                            color: '#db4b68'
                      example:
                        id: 42b720ef280c7a7a3be8cabe
                        cmsLocaleId: 653ad57de882f528b32e810e
                        lastPublished: '2022-11-29T16:22:43.159Z'
                        lastUpdated: '2022-11-17T17:19:43.282Z'
                        createdOn: '2022-11-17T17:11:57.148Z'
                        isArchived: false
                        isDraft: false
                        fieldData:
                          date: '2022-11-18T00:00:00.000Z'
                          featured: true
                          name: Pan Galactic Gargle Blaster Recipe
                          slug: pan-galactic-gargle-blaster
                          color: '#db4b68'
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: number
                        default: 100
                        description: The limit specified in the request
                      offset:
                        type: number
                        default: 0
                        description: The offset specified for pagination
                      total:
                        type: number
                        description: Total number of items in the collection
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
    post:
      x-fern-sdk-group-name:
        - collections
        - items
      x-fern-sdk-method-name: create-item
      security:
        - OAuth2:
            - 'CMS:write'
      operationId: create-item
      summary: Create Collection Item
      description: 'Create Item in a Collection.</br></br> To create items across multiple locales, <a href="https://developers.webflow.com/data/reference/create-item-for-multiple-locales"> please use this endpoint.</a> </br></br> Required scope | `CMS:write`'
      tags:
        - Items
        - Collections
        - Sites
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
      requestBody:
        description: Details of the item to create
        content:
          application/json:
            schema:
              description: |
                The fields that define the schema for a given Item are based on the Collection that Item belongs to. Beyond the user defined fields, there are a handful of additional fields that are automatically created for all items
              required:
                - id
              properties:
                id:
                  type: string
                  readOnly: true
                  example: 580e64008c9a982ac9b8b754
                  description: Unique identifier for the Item
                cmsLocaleId:
                  type: string
                  example: 653ad57de882f528b32e810e
                  description: Identifier for the locale of the CMS item
                lastPublished:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was last published
                lastUpdated:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was last updated
                createdOn:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was created
                isArchived:
                  type: boolean
                  default: false
                  description: Boolean determining if the Item is set to archived
                isDraft:
                  type: boolean
                  default: false
                  description: Boolean determining if the Item is set to draft
                fieldData:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the Item
                    slug:
                      type: string
                      description: 'URL structure of the Item in your site. Note: Updates to an item slug will break all links referencing the old slug.'
                  additionalProperties: true
                  example:
                    date: 2022-11-18T00:00:00.000Z
                    featured: false
                    name: My new item
                    slug: my-new-item
                    color: '#db4b68'
              example:
                id: 42b720ef280c7a7a3be8cabe
                cmsLocaleId: 653ad57de882f528b32e810e
                lastPublished: '2022-11-29T16:22:43.159Z'
                lastUpdated: '2022-11-17T17:19:43.282Z'
                createdOn: '2022-11-17T17:11:57.148Z'
                isArchived: false
                isDraft: false
                fieldData:
                  date: '2022-11-18T00:00:00.000Z'
                  featured: true
                  name: Pan Galactic Gargle Blaster Recipe
                  slug: pan-galactic-gargle-blaster
                  color: '#db4b68'
      responses:
        '202':
          description: Request was successful
          content:
            application/json:
              schema:
                description: |
                  The fields that define the schema for a given Item are based on the Collection that Item belongs to. Beyond the user defined fields, there are a handful of additional fields that are automatically created for all items
                required:
                  - id
                properties:
                  id:
                    type: string
                    readOnly: true
                    example: 580e64008c9a982ac9b8b754
                    description: Unique identifier for the Item
                  cmsLocaleId:
                    type: string
                    example: 653ad57de882f528b32e810e
                    description: Identifier for the locale of the CMS item
                  lastPublished:
                    type: string
                    format: date-string
                    readOnly: true
                    example: 2023-03-17T18:47:35.560Z
                    description: The date the item was last published
                  lastUpdated:
                    type: string
                    format: date-string
                    readOnly: true
                    example: 2023-03-17T18:47:35.560Z
                    description: The date the item was last updated
                  createdOn:
                    type: string
                    format: date-string
                    readOnly: true
                    example: 2023-03-17T18:47:35.560Z
                    description: The date the item was created
                  isArchived:
                    type: boolean
                    default: false
                    description: Boolean determining if the Item is set to archived
                  isDraft:
                    type: boolean
                    default: false
                    description: Boolean determining if the Item is set to draft
                  fieldData:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the Item
                      slug:
                        type: string
                        description: 'URL structure of the Item in your site. Note: Updates to an item slug will break all links referencing the old slug.'
                    additionalProperties: true
                    example:
                      date: 2022-11-18T00:00:00.000Z
                      featured: false
                      name: My new item
                      slug: my-new-item
                      color: '#db4b68'
                example:
                  id: 42b720ef280c7a7a3be8cabe
                  cmsLocaleId: 653ad57de882f528b32e810e
                  lastPublished: '2022-11-29T16:22:43.159Z'
                  lastUpdated: '2022-11-17T17:19:43.282Z'
                  createdOn: '2022-11-17T17:11:57.148Z'
                  isArchived: false
                  isDraft: false
                  fieldData:
                    date: '2022-11-18T00:00:00.000Z'
                    featured: true
                    name: Pan Galactic Gargle Blaster Recipe
                    slug: pan-galactic-gargle-blaster
                    color: '#db4b68'
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/collections/{collection_id}/items/live':
    post:
      x-fern-sdk-group-name:
        - collections
        - items
      x-fern-sdk-method-name: create-item-live
      security:
        - OAuth2:
            - 'CMS:write'
      operationId: create-item-live
      summary: Create Collection Item (Live)
      description: 'Create live Item in a Collection. This Item will be published to the live site. </br></br> To create items across multiple locales, <a href="https://developers.webflow.com/data/reference/create-item-for-multiple-locales"> please use this endpoint.</a> </br></br> Required scope | `CMS:write`'
      tags:
        - Items
        - Collections
        - Sites
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
      requestBody:
        description: Details of the item to create
        content:
          application/json:
            schema:
              description: |
                The fields that define the schema for a given Item are based on the Collection that Item belongs to. Beyond the user defined fields, there are a handful of additional fields that are automatically created for all items
              required:
                - id
              properties:
                id:
                  type: string
                  readOnly: true
                  example: 580e64008c9a982ac9b8b754
                  description: Unique identifier for the Item
                cmsLocaleId:
                  type: string
                  example: 653ad57de882f528b32e810e
                  description: Identifier for the locale of the CMS item
                lastPublished:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was last published
                lastUpdated:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was last updated
                createdOn:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was created
                isArchived:
                  type: boolean
                  default: false
                  description: Boolean determining if the Item is set to archived
                isDraft:
                  type: boolean
                  default: false
                  description: Boolean determining if the Item is set to draft
                fieldData:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the Item
                    slug:
                      type: string
                      description: 'URL structure of the Item in your site. Note: Updates to an item slug will break all links referencing the old slug.'
                  additionalProperties: true
                  example:
                    date: 2022-11-18T00:00:00.000Z
                    featured: false
                    name: My new item
                    slug: my-new-item
                    color: '#db4b68'
              example:
                id: 42b720ef280c7a7a3be8cabe
                cmsLocaleId: 653ad57de882f528b32e810e
                lastPublished: '2022-11-29T16:22:43.159Z'
                lastUpdated: '2022-11-17T17:19:43.282Z'
                createdOn: '2022-11-17T17:11:57.148Z'
                isArchived: false
                isDraft: false
                fieldData:
                  date: '2022-11-18T00:00:00.000Z'
                  featured: true
                  name: Pan Galactic Gargle Blaster Recipe
                  slug: pan-galactic-gargle-blaster
                  color: '#db4b68'
      responses:
        '202':
          description: Request was successful
          content:
            application/json:
              schema:
                description: |
                  The fields that define the schema for a given Item are based on the Collection that Item belongs to. Beyond the user defined fields, there are a handful of additional fields that are automatically created for all items
                required:
                  - id
                properties:
                  id:
                    type: string
                    readOnly: true
                    example: 580e64008c9a982ac9b8b754
                    description: Unique identifier for the Item
                  cmsLocaleId:
                    type: string
                    example: 653ad57de882f528b32e810e
                    description: Identifier for the locale of the CMS item
                  lastPublished:
                    type: string
                    format: date-string
                    readOnly: true
                    example: 2023-03-17T18:47:35.560Z
                    description: The date the item was last published
                  lastUpdated:
                    type: string
                    format: date-string
                    readOnly: true
                    example: 2023-03-17T18:47:35.560Z
                    description: The date the item was last updated
                  createdOn:
                    type: string
                    format: date-string
                    readOnly: true
                    example: 2023-03-17T18:47:35.560Z
                    description: The date the item was created
                  isArchived:
                    type: boolean
                    default: false
                    description: Boolean determining if the Item is set to archived
                  isDraft:
                    type: boolean
                    default: false
                    description: Boolean determining if the Item is set to draft
                  fieldData:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the Item
                      slug:
                        type: string
                        description: 'URL structure of the Item in your site. Note: Updates to an item slug will break all links referencing the old slug.'
                    additionalProperties: true
                    example:
                      date: 2022-11-18T00:00:00.000Z
                      featured: false
                      name: My new item
                      slug: my-new-item
                      color: '#db4b68'
                example:
                  id: 42b720ef280c7a7a3be8cabe
                  cmsLocaleId: 653ad57de882f528b32e810e
                  lastPublished: '2022-11-29T16:22:43.159Z'
                  lastUpdated: '2022-11-17T17:19:43.282Z'
                  createdOn: '2022-11-17T17:11:57.148Z'
                  isArchived: false
                  isDraft: false
                  fieldData:
                    date: '2022-11-18T00:00:00.000Z'
                    featured: true
                    name: Pan Galactic Gargle Blaster Recipe
                    slug: pan-galactic-gargle-blaster
                    color: '#db4b68'
        '400':
          description: Request body was incorrectly formatted. Likely invalid JSON being sent up.
        '401':
          description: Provided access token is invalid or does not have access to requested resource
        '404':
          description: Requested resource not found
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
        '500':
          description: We had a problem with our server. Try again later.
  '/collections/{collection_id}/items/bulk':
    post:
      x-fern-sdk-group-name:
        - collections
        - items
      x-fern-sdk-method-name: create-item-for-multiple-locales
      security:
        - OAuth2:
            - 'cms:write'
      operationId: create-item-for-multiple-locales
      summary: Create item for multiple locales
      description: 'Create single Item in a Collection with multiple corresponding locales. </br></br> Required scope | `CMS:write`'
      tags:
        - Items
        - Collections
        - Sites
      parameters:
        - name: collection_id
          in: path
          description: Unique identifier for a Collection
          example: 580e63fc8c9a982ac9b8b745
          required: true
          schema:
            type: string
            format: objectid
      requestBody:
        description: Details of the item to create
        content:
          application/json:
            schema:
              description: |
                The fields that define the schema for a given Item are based on the Collection that Item belongs to. Beyond the user defined fields, there are a handful of additional fields that are automatically created for all items
              required:
                - id
              properties:
                id:
                  type: string
                  readOnly: true
                  example: 580e64008c9a982ac9b8b754
                  description: Unique identifier for the Item
                cmsLocaleIds:
                  type: array
                  description: Array of identifiers for the locales where the item will be crated
                  items:
                    type: string
                    description: CMS Locale ID
                  example:
                    - 653ad57de882f528b32e810e
                    - 6514390aea353fc691d69827
                    - 65143930ea353fc691d69cd8
                lastPublished:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was last published
                lastUpdated:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was last updated
                createdOn:
                  type: string
                  format: date-string
                  readOnly: true
                  example: 2023-03-17T18:47:35.560Z
                  description: The date the item was created
                isArchived:
                  type: boolean
                  default: false
                  description: Boolean determining if the Item is set to archived
                isDraft:
                  type: boolean
                  default: false
                  description: Boolean determining if the Item is set to draft
[...]
